apiVersion: v1
kind: PersistentVolume
metadata:
  name: qnap-nfs-pv
spec:
  storageClassName: ""
  capacity:
    storage: 10Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    path: /cea  # Your QNAP share name
    server: 192.168.1.131
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: qnap-nfs-pvc
spec:
  storageClassName: ""
  voluemName: qnap-nfs-pv
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
