name: Build and Push Image
on:
  push:
    branches: [ "main" ]

# This is the fix for the permission error
permissions:
  contents: write
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Note: repository name must be lowercase in tags
          tags: ghcr.io/hixson/nosxih-python-app:latest
      - name: Update Deployment Trigger
        run: |
          sed -i "s/deployed-at:.*/deployed-at: \"$(date)\"/" charts/deployment.yaml
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@github.com'
          git add charts/deployment.yaml
          git commit -m "chore: trigger deployment update [skip ci]"
          git push
